Repository Bindambc/whatsapp-business-java-api, pull requests merged in 2023-04, with the labels that each got.

#81 Created "Call to Action" and "Get Involved"
  README.md
Labels: documentation, markdown

#85 Added functionality for Mark Messages as Read
  src/main/java/com/whatsapp/api/domain/messages/Message.java
  src/main/java/com/whatsapp/api/domain/messages/ReadMessage.java
  src/main/java/com/whatsapp/api/impl/WhatsappBusinessCloudApi.java
  src/main/java/com/whatsapp/api/service/WhatsappBusinessCloudApiService.java
  src/test/java/com/whatsapp/api/examples/MarkMessageAsReadExample.java
  src/test/java/com/whatsapp/api/impl/WhatsappBusinessCloudApiTest.java
  src/test/resources/expected/message/expectedMessage17.json
Labels: enhancement, java, tests

#89 fix #86 - webhook error (Unrecognized field "href")
  src/main/java/com/whatsapp/api/domain/webhook/Error.java
  src/test/java/com/whatsapp/api/domain/webhook/WebHookPayloadTest.java
  src/test/resources/deserialization/reEngagementMessageError.json
Labels: bug, java, tests
