Repository Bindambc/whatsapp-business-java-api, pull requests merged in 2023-08, with the labels that each got.

#104 fix location url
  src/main/java/com/whatsapp/api/domain/webhook/Location.java
  src/test/java/com/whatsapp/api/domain/webhook/WebHookPayloadTest.java
  src/test/resources/deserialization/locationMessage.json
Labels: bug, java, tests

#102 fix video caption
  src/main/java/com/whatsapp/api/domain/webhook/Video.java
  src/test/java/com/whatsapp/api/domain/webhook/WebHookPayloadTest.java
  src/test/resources/deserialization/videoMessage.json
Labels: bug, java, tests

#110 Create FUNDING.yml
  .github/FUNDING.yml
Labels: github-actions

#111 Send Two-Step verification code
  src/main/java/com/whatsapp/api/domain/phone/TwoStepCode.java
  src/main/java/com/whatsapp/api/impl/WhatsappBusinessCloudApi.java
  src/main/java/com/whatsapp/api/service/WhatsappBusinessCloudApiService.java
  src/test/java/com/whatsapp/api/examples/TwoStepVerificationExample.java
  src/test/java/com/whatsapp/api/impl/WhatsappBusinessCloudApiTest.java
  src/test/resources/expected/message/expectedMessage18.json
Labels: enhancement, java, tests

#112 Commerce Settings Endpoint
  src/main/java/com/whatsapp/api/domain/config/CommerceDataItem.java
  src/main/java/com/whatsapp/api/domain/config/GraphCommerceSettings.java
  src/main/java/com/whatsapp/api/impl/WhatsappBusinessManagementApi.java
  src/main/java/com/whatsapp/api/service/WhatsappBusinessManagementApiService.java
  src/test/java/com/whatsapp/api/examples/GetWhatsappCommerceSettingsExample.java
  src/test/java/com/whatsapp/api/examples/UpdateWhatsappCommerceSettingsExample.java
  src/test/java/com/whatsapp/api/impl/WhatsappBusinessManagementApiTest.java
  src/test/resources/config/commerceSettings.json
Labels: enhancement, java, tests

#114 fix javadoc generating errors
  src/main/java/com/whatsapp/api/domain/config/CommerceDataItem.java
Labels: documentation, java
