Repository Bindambc/whatsapp-business-java-api, pull requests merged in 2024-08, with the labels that each got.

#203 Added get methods for message types in the Message class
  src/main/java/com/whatsapp/api/domain/messages/Message.java
Labels: java

#177 Add new QualityRatingType enum option.
  src/main/java/com/whatsapp/api/domain/phone/type/QualityRatingType.java
Labels: enhancement, java, breaking-change

#205 feat: #204 added support to meta api version v20.0
  src/main/java/com/whatsapp/api/configuration/ApiVersion.java
Labels: enhancement, java

#207 Revert "Merge pull request #202 from Bindambc/dependabot/maven/org.ap…
  pom.xml
Labels: bug, dependencies
