Repository Bindambc/whatsapp-business-java-api, pull requests merged in 2024-05, with the labels that each got.

#168 Don't throw exception on unmapped property deserialization
  src/main/java/com/whatsapp/api/WhatsappApiServiceGenerator.java
  src/main/java/com/whatsapp/api/exception/WhatsappApiException.java
Labels: enhancement, java

#170 Expose Whatsapp API error details needed if handling SDK errors is necessary
  src/main/java/com/whatsapp/api/exception/WhatsappApiException.java
Labels: java

#156 Bump `com.squareup.okhttp3.version` to `5.0.0-alpha.12` + migration
  pom.xml
  src/test/java/com/whatsapp/api/impl/WhatsappBusinessCloudApiTest.java
  src/test/java/com/whatsapp/api/impl/WhatsappBusinessManagementApiTest.java
Labels: dependencies, java, tests

#183 fix: test CI
  src/test/java/com/whatsapp/api/WhatsappApiServiceGeneratorTest.java
Labels: bug, java, tests

#185 fix: maven-compiler-plugin - downgrade to version 3.12.1
  README.md
  pom.xml
Labels: documentation, dependencies, markdown

#173 Add missing voice call button type
  src/main/java/com/whatsapp/api/domain/templates/Button.java
  src/main/java/com/whatsapp/api/domain/templates/VoiceCallButton.java
  src/main/java/com/whatsapp/api/domain/templates/type/ButtonType.java
Labels: enhancement, java
