Repository Bindambc/whatsapp-business-java-api, pull requests merged in 2024-01, with the labels that each got.

#161 downgrade codecov action - v3
  .github/workflows/maven-ci.yml
Labels: github-actions

#122 fix: adjust proxy implementation
  src/main/java/com/whatsapp/api/WhatsappApiServiceGenerator.java
  src/main/java/com/whatsapp/api/utils/proxy/CustomHttpProxySelector.java
  src/main/java/com/whatsapp/api/utils/proxy/CustomProxyAuthenticator.java
  src/test/java/com/whatsapp/api/WhatsappApiServiceGeneratorTest.java
Labels: java, tests

#146 issue #125 - New message_status on com.whatsapp.api.domain.messages.response.Message
  src/main/java/com/whatsapp/api/domain/messages/response/Message.java
Labels: bug, java

#131 Fix #127
  src/main/java/com/whatsapp/api/domain/webhook/WebHook.java
Labels: enhancement, java

#145 #141 Error in Parsing WhatsApp Business Phone Number Response - New fields
  src/main/java/com/whatsapp/api/domain/phone/PhoneNumber.java
  src/main/java/com/whatsapp/api/domain/phone/Throughput.java
  src/main/java/com/whatsapp/api/domain/phone/type/LevelType.java
  src/main/java/com/whatsapp/api/domain/phone/type/PlatformType.java
  src/test/java/com/whatsapp/api/impl/WhatsappBusinessManagementApiTest.java
  src/test/resources/phone/phoneNumber.json
Labels: java, tests

#139 fixed failing of - message_response: "accepted" unknown field sending template_message. ignoring any newer fields
  src/main/java/com/whatsapp/api/WhatsappApiServiceGenerator.java
Labels: java
